.dropdown-current-user {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background: none;
}
